<div class="card">
  <div class="card-header">
    <h2>All Users</h2>
  </div>
  <ul class="list-group list-group-flush">
    <% @users.each do |user| %>
        <li class="list-group-item"><a href="/users/<%= user.id %>"><%= user.username %></a></li>
    <% end %>
  </ul>
</div>